@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="login-page-wrapper">
    <div class="page-header">
        <h2 class="title">@ViewData["Title"]</h2>
    </div>
    <div class="page-content">
        <section class="register-form-wrapper">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="login-form">
                <h4 class="subtitle">Use a local account to log in.</h4>
                <hr />
                <div class="field">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="field">
                    <label asp-for="Email" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="Email" class="input" placeholder="Enter your Email" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Password" class="label"></label>
                    <div class="control has-icons-left">
                        <input asp-for="Password" class="input" placeholder="Enter your Password" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="RememberMe" class="checkbox">
                        <input asp-for="RememberMe" class="" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                <div class="field">
                    <button type="submit" class="button is-primary is-outlined login-button" is-outlined>Log in</button>
                </div>
                <div class="field login-links">
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </section>

        <section class="external-login">
            <h4 class="subtitle">Use another service to log in.</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                        }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Styles {
    <environment include="Development">
        <link href="~/styles/auth-pages.css" rel="stylesheet" app-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="~/styles/auth-pages.min.css" rel="stylesheet" app-append-version="true" />
    </environment>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
